package introspected

import "{{ .streamPackagePath }}"

var Stream = {{ .streamPackageName }}.Stream

var StreamMethods = map[string][]string{
{{ range .streamMethods }}
  {{ .name | printf "%q" }}: []string{ {{ quoteAndJoin .args }} },
{{ end }}
}